/* SELECT COMPONENT */
	
	.input-select-wrapper{
		border: 0;
		margin: 0;
		height: 40px;
		line-height: 40px;
		box-sizing: border-box;
		position: relative;
		z-index: 100;
		cursor: pointer;
	}

	.input-select-wrapper:after{
		font-family: 'FontAwesome';
		content: '\f107';
		position: absolute;
		right: 10px;
		color: #333;
		z-index: -1;
	}

	.input-select-value, 
	.input-select-filter{
		width: 100%;
		height: 35px;
		box-sizing: border-box;
		position: relative;
		top: 0;
		left: 0;
		border: 1px solid #cacaca;
	}
	.input-select-value{
		float: left;
		padding-left: 5px;
		height: 40px;
	}

	.input-select-combobox{
		position: absolute;
		border: 1px solid transparent;
		left: 0;
		right: 0;
		width: 100%;
		top: calc(100% + 1px);
		background-color: #fff;
		height: 0;
		overflow: hidden;
		transition: height .3s ease 0s, border 0s ease .3s;
	}

	.input-select-combobox.from-bottom{
		top: auto;
		bottom: calc(100% + 1px);
	}

	.input-select-combobox.active{
		border-color: #cacaca;
		transition: height .3s ease 0s, border 0s ease 0s;
	}

	.input-select-option{
		padding-left: 10px;
		background-color: #fff;
		cursor: pointer;
		transition: all .3s ease 0s;
	}

	.input-select-option:hover{
		padding-left: 15px;
		background-color: #e0e0e0;
	}

/* CHECKBOX COMPONENT */
	.input-checkbox-wrapper {
		font-size: 18px;
		position: relative;
		display: block;
		margin-bottom: 15px;
		padding-left: 30px;
		cursor: pointer;
		width: 15px;
		height: 15px;
		margin: 0 auto;
	}

	.input-checkbox-wrapper input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	.input-checkbox-indicator {
		position: absolute;
		top: 2px;
		left: 0;
		width: 15px;
		height: 15px;
		background: #e6e6e6;
		border: 1px solid #aaa;
	}

	/* Hover and focus states */
	.input-checkbox-wrapper:hover input ~ .input-checkbox-indicator,
	.input-checkbox-wrapper input:focus ~ .input-checkbox-indicator {
		background: #ccc;
	}

	/* Checked state */
	.input-checkbox-wrapper input:checked ~ .input-checkbox-indicator {
		background: #ffc435;
		border-color: #ef9405;
	}

	/* Hover state whilst checked */
	.input-checkbox-wrapper:hover input:not([disabled]):checked ~ .input-checkbox-indicator,
	.input-checkbox-wrapper input:checked:focus ~ .input-checkbox-indicator {
		background: #dfa415;
	}

	/* Disabled state */
	.input-checkbox-wrapper input:disabled ~ .input-checkbox-indicator {
		pointer-events: none;
		opacity: .6;
		background: #e6e6e6;
	}

	/* Check mark */
	.input-checkbox-indicator:after {
		position: absolute;
		display: none;
		content: '';
	}

	/* Show check mark */
	.input-checkbox-wrapper input:checked ~ .input-checkbox-indicator:after {
		display: block;
	}

	/* Checkbox tick */
	.input-checkbox-wrapper .input-checkbox-indicator:after {
		top: 2px;
		left: 5px;
		width: 3px;
		height: 7px;
		transform: rotate(45deg);
		border: solid #fff;
		border-width: 0 2px 2px 0;
	}

	/* Disabled tick colour */
	.input-checkbox-wrapper input:disabled ~ .input-checkbox-indicator:after {
		border-color: #7b7b7b;
	}

/* NANO SCROLLER */
.nano { background: #bba; }
.nano .nano-content { padding: 0px; }
.nano .nano-pane   { background: #888; }
.nano .nano-slider { background: #111; }